@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  /* For the list of stats displayed */
  div.stat {
    font-size: 1.5rem;
  }

  li.buttonoid {
    font-size: 3rem;
  }

  #titleL {
    font-size: 38vw !important;
  }

  #titleUV {
    font-size: 34vw !important;
  }
}
/* Size changes for mobile phone version ^ and tablet V */

@media screen and (max-width: 400px) {
  li a {
    font-size: 0.8em;
  }
}